BasedOnStyle: LLVM

Language: Cpp
Standard: Latest

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

AlwaysBreakTemplateDeclarations: Yes

MaxEmptyLinesToKeep: 2

SeparateDefinitionBlocks: Always

SortIncludes: true
IncludeBlocks: Preserve

InsertNewlineAtEOF: true

PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Pointer

SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true

